html,
body {
    background-color: #D3D3D3;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.01em;
    margin-bottom: 0.01em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    color: #808080;

}

p.reset_info {
    font-size: 12px;
}

.centered {
    float: none;
    margin: auto;
}

html,
body {
    overflow: auto;
}

.btn-change {
    height: 40px;
    width: 100px;
    background: lightseagreen;

    float: left;
    box-shadow: 0 0 1px #ccc;

    border: 0px;
    color: #fff;
}

#reset_inf {
    margin-bottom: 0rem;
}

.input-group {
    width: 430px;
}

.form-group {
    width: 430px;
}

.btn-change:hover {

    background: #008080;
}


forgotPass {
    text-align: right;
    right: 0px;
}

p.text-ctr {
    color: #696969;
    text-align: center;

}

.navbar {
    background-color: red;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}
